{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
        <link rel = "stylesheet" type="text/css" href = "{% static 'style.css'%}">
    <meta charset="UTF-8">
    <title>LEAVE MANAGEMENT</title>
</head>
<body>
<div class="divhead">
  <div class="divlogo">
      <div><a style="text-decoration: none; color: #FFFFFF" class="logo_a" href="/">LEAVE MANAGEMENT</a></div>
  </div>
  <div class="nav">
      <ul>
        <li><a href="/logout">LOGOUT</a></li>
        <li><a>NOTIFICATION</a></li>
        <li><a href="/timeoffrequests">VIEW LEAVE</a></li>

       </ul>
  </div>
    {%block content%}
    {%endblock%}
  </div>
</body>
</html>