{%extends 'base.html'%}
{% load staticfiles %}
{%block content%}
    <div class="chngdiv">
<form action="passwordchange" method="post">
     {% csrf_token %}

  <input class="cngpwd" type="password" id="fname" name="oldpwd" placeholder="Old password" required><br>
  <input class="cngpwd" type="password" id="fname" name="newpwd" placeholder="New password" required><br>
  <input class="cngpwd" type="password" id="lname" name="cnfpwd" placeholder="Confirm password" required><br>
  <input class="button button1" type="submit" value="Change password" >
</form>
    {% if status == "success" %}
        <div class="alert success">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <span>{{ msg }}</span>
        </div>
        {% elif status == "error"%}
        <div class="alert error">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <span>{{ msg }}</span>
        </div>
    {% endif %}
    </div>
{%endblock%}