{%extends 'base.html'%}
{% load staticfiles %}
{%block content%}

<div class="req_div2">
    <div class="divlogo" style="color: black">Requested leave</div>
    {% for instance in leaveqs %}
        <div class="req_div1">
        <table class="table">

        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ instance.start_date}}</td>
            <td>{{ instance.end_date }}</td>
            <td>{{ instance.status }}</td>
            <td>
              <form action="approve" method="post">
                   {% csrf_token %}
                <input type="hidden" name="leaveid" value="{{ instance.id }}">
                <input class="button button2" type="submit" value="Approve"/>
            </form>
             <td>
                <form action="decline" method="post">
                     {% csrf_token %}
                    <input type="hidden" name="leaveid" value="{{ instance.id }}">
                    <input class="button button1" type="submit" value="Decline"/>
                </form>
            </td>
        </tr>
            </table>

        </div>
    {% endfor %}

</div>
  </div>
</div>
{%endblock%}