{%extends 'base.html'%}
{% load staticfiles %}
{%block content%}

<form action="apply" method="post" >
 {% csrf_token %}
<div class="apply_div">
    <table class="table1">
        <tr>
            <td><label><input class="input_date" type="date" name="startDate" /></label></td>
            <td><label>to</label></td>
            <td><input class="input_date"  type="date" name="endDate" /></td>
            <td><select class="select_lt" name="leaveType">
                <option>Annual leave</option>
                <option>Casual leave</option>
                <option>Paid leave</option>
                <option>Optional leave</option>
                <option>Special leave</option>
            </select></td>
            <td><input class="button button1 apply_btn" type="submit" value="Apply"></td>
        </tr>
    </table>
</div>

</form>

    {% for instance in qs %}
<div class="div1">

<table class="table">
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ instance.start_date}}</td>
            <td>{{ instance.end_date }}</td>
            <td>{{ instance.days}}</td>
            <td>{{ instance.status }}</td>
            <td><form action="canceled" method="post">
                {% csrf_token %}
                <input type="hidden" name="leaveid" value="{{ instance.id }}">
                <input class="button button2" type="submit" value="cancel"/>
            </form>
            </td>
        </tr>

</table>
</div>
    {% endfor %}
{%endblock%}