{%extends 'base.html'%}
{% load staticfiles %}
{%block content%}

<div class="div1">
    <div class="divlogo" style="color: black">Request leave</div>
<table class="table">
    {% for instance in leaveqs %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ instance.start_date}}</td>
            <td>{{ instance.end_date }}</td>
            <td>{{ instance.status }}</td>
            <td>
              <form action="approve" method="post">
                   {% csrf_token %}
                <input type="hidden" name="leaveid" value="{{ instance.id }}">
                <input class="button button2" type="submit" value="Approve"/>
            </form>
             <td>
                <form action="decline" method="post">
                     {% csrf_token %}
                    <input type="hidden" name="leaveid" value="{{ instance.id }}">
                    <input class="button button1" type="submit" value="Decline"/>
                </form>
            </td>
        </tr>
    {% endfor %}
</table>

</div>
  </div>

{%endblock%}